/****************
      Header
*****************/
#header{
    position: relative;
    margin-top: 20px;
  }
  
  .logo{
    float: left;
  }
  
  .correo{
    @extend %mailSharedOptions;
    top: 18px;
    right: 0;
  }
  
  .menu{
    @extend %menuTabs;
    margin: 46px 0 0;
    padding: 0;
  }
  
  .menu li{
    display: inline;
  }
  
  .menu li + li{
    margin-left: 65px;
  }
  
  .menu a{
    color: $secondaryColor;
    font-size: $secondaryFontSize;
    font-weight: bold;
    @extend %textDisplay;
  }

  .menu a:hover,
  .link-active{
    color: $primaryColor !important;
  }
  