/****************
      Portfolio
*****************/
#portfolio {
    border-bottom: $divsBorder;
    margin-bottom: 20px;
    padding-bottom: 30px;
  }
  
  #portfolio h2 img {
    margin-right: 20px;
    height: $imgHeight;
    padding-bottom: 3px;
  }
  
  #portfolio h2 {
    @extend %textDisplay;
    @extend %fontTitles;
  }
  
  #portfolio img + img {
    margin-left: 28px;
  }
  