/****************
      Footer
*****************/
#footer {
    background-color: $footerBackgroundColor;
    position: absolute;
    width: 100%;
  }
  
  #footer-menu{
    width: $containerWidth;
    margin: $defaultMargins;
    list-style: none;
    padding: 10px;
  }
  
  #footer-menu li{
    display: inline;
  }
  
  #footer-menu a{
    color: $primaryColor;
    font-size: $secondaryFontSize;
  }
  
  #footer p{
    color: $primaryColor;
    font-size: $secondaryFontSize;
    width: $containerWidth;
    margin: $defaultMargins;
  }
  
  #footer-menu li + li{
    margin-right: 5px;
    border-left: $divsFooterMenu;
    padding-left: 5px;
  }
  
  .logo-footer {
    height: 63px;
    position: relative;
  }
  
  .container-footer {
    position: relative;
  }
  
  .img-container {
    position: relative;
    width: $containerWidth;
    margin: $defaultMargins;
    left: 850px;
    bottom: 30px;
  }
  