/****************
      Content
*****************/
#content {
    border-bottom: $divsBorder;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
  
  .box h2 {
    @extend %textDisplay;
    @extend %fontTitles;
    border-bottom: $secondaryBorder;
    padding-bottom: 10px;
  }
  
  .box p {
    font-size: $secondaryFontSize;
    line-height: 20px;
  }
  
  #content h2 img {
    margin-right: 20px;
    height: 10px;
    padding-bottom: 5px;
  }
  
  #content a img {
    margin-right: 20px;
    height: 7px;
    padding-bottom: 3px;
  }
  
  .box{
    width: 285px;
    float: left;
    margin-left: 52px;
  }
  
  .box ul {
    list-style-image: url('../img/Diseño/checkicon.jpg');
  }
  
  .box:first-child{
    margin-left: 0;
  }
  
  .hyperlink {
    color: $secondaryColor;
    @extend %textDisplay;
  }
  
  .reference {
    color: $primaryColor;
    font-style: italic;
  }
  