/****************
      General
*****************/
#container{
    width: $containerWidth;
    margin: $defaultMargins;
  }
  
  body{
    margin: $defaultMargins;
    border-top: $primaryBorder;
    font-family: $fontFam;
  }
  
  a{
    text-decoration: $textDecNone;
  }
  