$fontFam: Arial, Helvetica, sans-serif;
$containerWidth: 960px;
$primaryBlogWidth: 680px;
$secondaryBlogWidth: 230px;
$primaryColor: #090909;
$secondaryColor: #fe9b00;
$primaryBorder: 17px solid #090909;
$secondaryBorder: 8px solid black;
$divsBorder: 1px solid #c0c0c0;
$divsFooterMenu: 1px solid #090909;
$secondaryFontSize: 12px;
$footerBackgroundColor: #e2e2e2;
$textDecNone: none;
$imgHeight: 10px;
$defaultMargins: 0 auto;


%textDisplay{
    text-transform: uppercase;
}

%mailSharedOptions{ 
    color: #999898;
    font-size: 13px;
    position: absolute;
}

%menuTabs{
    float: right;
    list-style: none;
}

%fontTitles {
    font-size: 18px;
    font-weight: bold;
}

%breakLines {
    border-bottom: 1px solid #c0c0c0;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
