/****************
      Info
*****************/
.blog-box1, .blog-box2{
    float: left;
  }
  
  #info-box h3 img {
    margin-right: 20px;
    height: 7px;
    padding-bottom: 3px;
  }
  
  #info-box {
    padding-bottom: 30px;
  }
  
  #info-box h3 {
    @extend %textDisplay;
    font-size: $secondaryFontSize;
    font-weight: bold;
  }
  
  #info-box p {
    font-size: $secondaryFontSize;
    line-height: 20px;
  }
  
  #info-box img + img {
    margin-left: 10px;
  }
  
  .blog-box1 {
    width: $primaryBlogWidth;
    margin-right: 50px
  }
  .blog-box2 {
    width: $secondaryBlogWidth;
  }